footer {
  width: 1300px;
  padding: 0 0 0 210px;
  margin: 0 auto;
  .footer_wrap {
    width: 100%;
    border-top: 3px solid #529d0d;

    text-align: center;
    h1 {
      margin: 20px 0;
    }
    ul {
      margin: 30px 0;
      li {
        display: inline-block;
        margin: 0px 10px;
        color: #555;
        letter-spacing: -0.02em;
        &::before {
          content: "";
          display: inline-block;
          border-left: 1px solid #555;
          height: 14px;
          padding: 0 0 0 20px;
        }
        &:nth-of-type(1) {
          &::before {
            content: none;
          }
        }
      }
    }
    p {
      color: #888;
      font-size: 14px;
      letter-spacing: -0.02em;
    }
    h4 {
      padding: 3px 0;
      margin-top: 40px;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      background: #529d0d;
    }
  }
  .remote_controler {
    position: absolute;
    top: 650px;
    left: (1920px - 150px);
    transform: translate(-100%);

    ul {
      li {
        border: 1px solid #ccc;
        border-bottom: none;
        text-align: center;
        color: #000;
        padding: 4px 8px;
        font-size: 14px;
        letter-spacing: -0.02em;
        transition-duration: 0.3s;
        &:hover {
          background: #ccc;
        }
      }
      .img {
        padding: 0;
        img {
          display: block;
        }
      }
      .top_btn {
        border: 1px solid #ccc;
        cursor: pointer;
        &::after {
          content: "";
          display: inline-block;
          width: 6px;
          height: 6px;
          border-top: 1px solid #000;
          border-right: 1px solid #000;
          margin-left: 10px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
