.delivery_wrap {
  h5 {
    text-align: left;
    font-size: 14px;
    padding-top: 20px;
  }
  input,
  textarea,
  select {
    outline: none;
    padding: 1px 5px;
    border: 1px solid #bbb;
    border-radius: 0;
    font-weight: 700;
  }
  .delivery_table {
    width: 100%;
    margin: 15px 0;
    border-collapse: collapse;
    text-align: left;
    tbody {
      tr {
        th {
          padding: 5px;
          font-size: 14px;
          background: #f9fbf6;
          border: 1px solid #bbb;
          font-weight: 700;
        }
        td {
          border: 1px solid #bbb;
          padding: 5px;
          font-size: 14px;
          font-weight: 700;
          .sample6_btn {
            background: #f9fbf6;
            cursor: pointer;
            width: 80px;
          }
        }
      }
    }
  }
  .pay_method {
    border: 1px solid #777;
    display: flex;
    margin: 15px 0;
    .pay_method_area {
      width: 80%;
      text-align: left;
      border-right: 1px solid #777;
      .methods_list {
        border-bottom: 4px double #bbb;
        padding: 10px;
        display: flex;
        align-items: center;
        input {
          margin-right: 5px;
        }
        label {
          margin-right: 20px;
          border: 1px solid #bbb;
          padding: 5px;
          background: #f4f4f4;
          box-shadow: 1px 1px 3px #c8c8c8;
          font-family: "S-CoreDream-5Medium";
          color: #777;
          border-radius: 3px;
        }
        input:checked + label {
          color: rgb(14, 72, 0);
          background: #ffffff;
        }
      }
      .result_no_bankbook {
        padding: 20px;
        table {
          width: 100%;
          border-collapse: collapse;
          tr {
            th {
              border: 1px solid #bbb;
              font-size: 14px;
              background: #f9fbf6;
              padding: 5px;
            }
            td {
              border: 1px solid #bbb;
              padding: 5px;
            }
          }
        }
        &::after {
          content: "";
          display: block;
          border-bottom: 1px solid #c6c6c6;
          margin-top: 10px;
        }
      }
      .receipt {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        p {
          width: 20%;
          font-size: 14px;
          font-family: "S-CoreDream-5Medium";
        }
        .receipt_info {
          width: 80%;
          table {
            width: 100%;
            border-collapse: collapse;
            tr {
              th {
                width: 20%;
                padding: 5px;
                font-size: 14px;
                background: #f9fbf6;
                border: 1px solid #bbb;
              }
              td {
                padding: 5px;
                font-size: 14px;
                border: 1px solid #bbb;
              }
            }
          }
        }
      }
      .result_card,
      .result_transfer {
        padding: 20px;
        p {
          font-size: 14px;
          font-weight: 700;
          b {
            &::before {
              content: "!";
              display: inline-block;
              text-align: center;
              width: 10px;
              height: 10px;
              border: 1px solid #c8c8c8;
              border-radius: 3px;
              font-size: 10px;
              padding: 0 1px;
              padding-bottom: 4px;
              color: rgb(255, 0, 0);
              font-weight: 700;
              margin-right: 5px;
            }
          }
        }
      }
      .result_transfer {
        table {
          width: 100%;
          border-collapse: collapse;
          margin-bottom: 10px;
          tr {
            th {
              padding: 5px;
              font-size: 14px;
              background: #f9fbf6;
              border: 1px solid #bbb;
            }
            td {
              padding: 5px;
              font-size: 14px;
              border: 1px solid #bbb;
            }
          }
        }
      }
    }
    .pay_submit {
      width: 20%;
      padding: 10px;
      display: flex;
      align-items: center;
      li {
        width: 100%;
        text-align: right;
        p {
          padding: 10px 0;
          .final_price {
            font-size: 24px;
          }
        }
        input {
          width: 100%;
          margin-top: 10px;
          padding: 10px 0;
          color: #fff;
          background: #000;
          cursor: pointer;
        }
      }
    }
  }
}
