.section_wrap {
  padding: 30px 142.5px;
  h1 {
    color: #5e9d0e;
    border-bottom: 3px solid #5e9d0e;
  }
  table {
    width: 1220px;
    margin: 20px auto;
    border-collapse: collapse;
    border-bottom: 2px solid #bbb;

    thead {
      tr {
        td {
          padding: 10px;
          width: 100%;
          width: 100%;
          height: 52px;
          span {
            display: flex;
            align-items: center;
            .write_btn {
              width: 95px;
              height: 25px;
              margin-left: auto;
              background: #47750a;
              color: #fff;
              text-align: center;
              cursor: pointer;
              padding: 4.5px 0;
              font-size: 12px;
            }
          }
        }
        th {
          border: 1px solid #bbb;
          border-top: 2px solid #bbb;
          height: 52px;
          background: #eff5e7;
          &:nth-of-type(1) {
            width: 5%;
          }
          &:nth-of-type(2) {
            width: 55%;
          }
          &:nth-of-type(3) {
            width: 8%;
          }
          &:nth-of-type(4) {
            width: 10%;
          }
          &:nth-of-type(5) {
            width: 10%;
          }
          &:nth-of-type(6) {
            width: 15%;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          border: 1px solid #bbb;
          text-align: center;
          padding: 5px 3px;
          font-size: 14px;
          &:nth-of-type(1) {
            vertical-align: top;
          }
          &:nth-of-type(2) {
            padding: 5px 15px;
            text-align: left;
          }
          &:nth-of-type(3) {
          }
          &:nth-of-type(4) {
          }
          &:nth-of-type(5) {
          }
          &:nth-of-type(6) {
            a {
              background: #0066cb;
              color: #fff;
              display: inline-block;
              width: 40px;
              margin: 0 auto;
              padding: 4.5px 0;
              font-size: 12px;
              font-weight: 600;
              border-radius: 3px;
              text-align: center;
            }
            .remove_btn {
              background: #f52b2b;
              color: #fff;
              display: inline-block;
              width: 40px;
              margin: 0 auto;
              padding: 4.5px 0;
              font-size: 12px;
              font-weight: 600;
              border-radius: 3px;
              text-align: center;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .paging_box {
    display: flex;
    text-align: center;
    .prev {
      margin-left: auto;
    }
    .next {
      margin-right: auto;
    }
    .next,
    .prev {
      display: flex;
      align-items: center;
      img {
        width: 10px;
        height: 10px;
        margin: 0 auto;
      }
    }
    .page_num_box {
      display: flex;
      align-items: center;
      position: relative;
      p {
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
      }
      &::after {
        content: "";
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: 0;
        background: #495164;
      }
    }
    span {
      width: 40px;
      height: 40px;
      border: 1px solid #bbb;
      cursor: pointer;
    }
  }
}
