section {
  width: 1300px;
  padding: 20px 0 20px 210px;
  margin: 0 auto;
}

section .product_item h2 {
  color: #437900;
  font-weight: 700;
  padding: 10px 0;
  border-bottom: 1px solid #bbb;
}

section .product_item .product_info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
}

section .product_item .product_info img {
  width: 100%;
  display: block;
  border: 1px solid #999;
  margin-right: 50px;
}

section .product_item .product_info .product_text {
  width: 100%;
  position: relative;
}

section .product_item .product_info .product_text h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 5px 0;
  border-bottom: 3px solid #777;
}

section .product_item .product_info .product_text ul {
  padding: 30px 0;
}

section .product_item .product_info .product_text ul li {
  padding: 7px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .product_item .product_info .product_text ul li h5 {
  color: #777;
  font-size: 14px;
  font-weight: 500;
  width: 35%;
}

section .product_item .product_info .product_text ul li p {
  color: #777;
  font-size: 14px;
  font-weight: 500;
  width: 65%;
}

section .product_item .product_info .product_text .order_box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  right: 0;
}

section .product_item .product_info .product_text .order_box img {
  margin: 5px;
  border: none;
  cursor: pointer;
}

section .product_item .product_description {
  width: 100%;
}
