section {
  width: 1300px;
  padding: 20px 0 20px 210px;
  margin: 0 auto;
  .product_item {
    h2 {
      color: #437900;
      font-weight: 700;
      padding: 10px 0;
      border-bottom: 1px solid #bbb;
    }
    .product_info {
      width: 100%;
      display: flex;
      padding: 40px;
      img[alt="제품이미지"] {
        width: 450px;
        height: 450px;
        display: block;
        border: 1px solid #999;
        margin-right: 50px;
      }
      .product_text {
        width: 100%;
        position: relative;
        h3 {
          font-size: 20px;
          font-weight: 700;
          padding: 5px 0;
          border-bottom: 3px solid #777;
        }
        ul {
          padding: 30px 0;
          li {
            padding: 7px 0;
            display: flex;
            h5 {
              color: #777;
              font-size: 14px;
              font-weight: 500;
              width: 35%;
            }
            p {
              color: #777;
              font-size: 14px;
              font-weight: 500;
              width: 65%;
            }
          }
        }
        .order_box {
          position: absolute;
          display: flex;
          align-items: center;
          bottom: 0;
          right: 0;
          label {
            font-size: 15px;
            color: #777;
            margin-right: 5px;
          }
          input {
            text-align: center;
            width: 50px;
            height: 40px;
            font-size: 17px;
            margin-right: 5px;
            outline: none;
            caret-color: #fff;
          }
          input[type="number"]:hover::-webkit-inner-spin-button {
            width: 17px;
            height: 40px;
          }
          img {
            margin: 5px;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
    .product_description {
      width: 100%;
    }
  }
}
